h1 {
    color: #369;
    font-size: 250%;
    text-align: center;
}

.container > .sections {
    width: 20%;
    margin: 5%;
}

/* <a> estilos botón */
a:link, a:visited {
    background-color: #a9c8dd;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(84, 176, 204);
}